{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}
  

      <ul>
        {% for obj in files %}
          <li>
            <!-- <img src="{% url 'db_file_storage.get_file' %}?name={{ obj.name }}"> -->
            <a href='{% url "db_file_storage.download_file" %}?name={{ obj.file }}'>
        <i>{{obj.name}}</i>

      </a>
      <span>  Path: /</span><span>{{obj.parentfolder.name}}</span>
      <a href='/upload/newfolder/{{obj.parentfolder.pk}}'>Go to folder</a>
          </li>
        {% endfor %}
      </ul>

      <p><a href="{% url 'home' %}">Return to home</a></p>



{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

{% endblock %}