

{% if user.is_authenticated %}


<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  
    <meta charset="UTF-8">
    <title>{% block title%}Secure Personal Cloud -- Alpha Cube{% endblock%}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">

.image-div{
  border: 1px white;
  margin-left: 8%;
  padding-left: 5%;
  float: left;    
}


  
</style> 
</head>
 <body style="background-color: #FFFAFA;">
  

<nav class="navbar navbar-inverse">
    <div class="containor-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class ="navbar-brand" href=http://127.0.0.1:8000>Home</a>
        </div>

            <ul class="nav navbar-nav">

               
                <li ><a href= http://127.0.0.1:8000/accounts/logout>Logout</a></li>
                
               
                

            </ul>
    


  
 
        </div>
    </div>
   </nav>  


	
	<section>
		
	 
	    {% for obj in childfolders %}
	    <div class="image-div">

    <a href="/upload/newfolder/{{obj.pk}}">
      <figure>
        <img src="{% static '/images/folder.png' %}"  width=50px height=50px></a>
        <figcaption style="color: black; font-size: 15px; text-align: justify; margin-top: 10px;">{{ obj.name }}
        </figcaption>
        <a href="/upload/folderdelete/{{obj.pk}}/">Delete</a>
      </figure>
    </a>
</div>
	      
	      
	    {% endfor %}
	    	      </section>

	





		<section>
		    {% for obj in childfiles %}

        <div class="image-div">

    <a href="/upload/fileview/{{obj.pk}}/">
      <figure>
        <img src="{% static '/images/file.png' %}"  width=50px height=50px></a>
        <figcaption style="color: black; font-size: 15px; text-align: justify; margin-top: 10px;">{{ obj.name }}
        </figcaption>
        <li><a href="/upload/filedownload/{{obj.pk}}/">Download</a></li>
        <li><a href="/upload/filedelete/{{obj.pk}}/">Delete</a></li>
      
      </figure>
    </a>
</div>

		      
		        <!-- <img src="{% url 'db_file_storage.get_file' %}?name={{ obj.name }}"> -->
            <!-- '/upload/fileview/{{obj.pk}}/'
            '/upload/filedownload/{{obj.pk}}/'
            '/upload/folderdelete/{{obj.pk}}/'
            '/upload/filedelete/{{obj.pk}}/'
 -->
		       <!--  <a class="list-group-item list-group-item-info" href='{% url "db_file_storage.download_file" %}?name={{ obj.file }}'>
	    	<i>{{obj.name}}</i></a>

	    	<a class="list-group-item list-group-item-info" href='{% url "db_file_storage.download_file" %}?name={{ obj.file }}'> -->


			
		      
		    {% endfor %}

      </section>

      <div class="col-sm-offset-2 col-sm-8">
  <p>Create New Folder:</p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ folderform.as_p }}
    <button type="submit" name = "foldersubmitbutton">Create Folder</button>
  </form>
</div>

	  	

	
	<div class="col-sm-offset-2 col-sm-8">
	 


  <p>Upload file:</p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ fileform.as_p }}
    <button type="submit" name = "filesubmitbutton">Upload File</button>
  </form>
</div>
</body>


{% else %}
	<p>You are not logged in</p>
  	<a href="{% url 'login' %}">login</a>
{% endif %}

