{% extends 'base.html' %}



{% block content %}

{% if user.is_authenticated %}

	<p>Hellos</p>

	<p>Folders:</p>
	  <ul>
	    {% for obj in childfolders %}
	      <li>
	        <a href="/upload/newfolder/{{obj.pk}}">{{ obj.name }}</a>

	        <form action="{% url 'delete_folder' obj.pk %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="album_id" value="{{ obj.pk }}" />
            <button type="submit" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            </form>


	      </li>
	    {% endfor %}
	  </ul>

	<p>Files:</p>
		<ul>
		    {% for obj in childfiles %}
		      <li>
		        <!-- <img src="{% url 'db_file_storage.get_file' %}?name={{ obj.name }}"> -->
		        <a href='{% url "db_file_storage.download_file" %}?name={{ obj.file }}'>
	    	<i>{{obj.name}}</i>

	    	<form action="{% url 'delete_file' obj.pk %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="album_id" value="{{ obj.pk }}" />
            <button type="submit" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            </form>


			</a>
		      </li>
		    {% endfor %}
	  	</ul>

	 <p>Create New Folder:</p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ folderform.as_p }}
    <button type="submit" name = "foldersubmitbutton">Create Folder</button>
  </form>


  <p>Upload file:</p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ fileform.as_p }}
    <button type="submit" name = "filesubmitbutton">Upload File</button>
  </form>

  <p><a href="{% url 'home' %}">Return to home</a></p>

{% else %}
	<p>You are not logged in</p>
  	<a href="{% url 'login' %}">login</a>
{% endif %}

{% endblock %}