<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}Secure Personal Cloud -- Alpha Cube{% endblock%}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">

.image-div{
  border: 1px white;
  margin-left: 8%;
  padding-left: 5%;
  float: left;    
}


  
</style> 
</head>
 <body style="background-color:#b2ff59;">
  

<nav class="navbar navbar-inverse">
    <div class="containor-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class ="navbar-brand" href=http://127.0.0.1:8000>Home</a>
        </div>

            <ul class="nav navbar-nav">

               
                <li ><a href= http://127.0.0.1:8000/accounts/logout>Logout</a></li>
                
               
                

            </ul>
    


  
 
        </div>
    </div>
   </nav>  
  

<main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>   