<!-- templates/home.html-->
{% extends 'base2.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  
  <body style="background-color:cyan;">
  <nav class="navbar navbar-inverse">
    <div class="containor-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class ="navbar-brand" href=http://127.0.0.1:8000>Home</a>
        </div>

     <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">

               
                <li ><a href= http://127.0.0.1:8000/accounts/logout>Logout</a></li>

               
                

            </ul>
        </div>
    </div>
   </nav>  
   Hi {{ user.username }}!   
  
  
 
  <p style="font-family: courier;"><a href="upload/newfolder/">Upload and View</a></p>
  <p style="font-family: courier;"><a href="upload/search/">Search Files</a></p>
  <!-- <p><a href='' -->
  </body>
{% else %}
<body style="background-color:cyan">
  <nav class="navbar navbar-inverse">
    <div class="containor-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class ="navbar-brand" href=http://127.0.0.1:8000>SPC</a>
        </div>

     <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
               
                <li ><a href= http://127.0.0.1:8000/accounts/login>Login</a></li>

                <li ><a href= http://127.0.0.1:8000/accounts/signup>Signup</a></li>
                

            </ul>
        </div>
</div>
</nav>
  <p style="font-family: courier;">You are not logged in</p>
</div>
</body>
{% endif %}
{% endblock %}